{% extends "auctions/layout.html" %} {% block title %} Details {% endblock %}
{%block body%}
<div class="listing-container">
  <div class="img-container">
    <h3>
      {%if success%}
      <h4>{{success}}</h4>
      {%endif%}
      Listing: {{ listing.title }}</h3>
  {%if not in_watchlist %}
    <form method="POST" action="{% url 'watchlist'%}">
      {% csrf_token %}
      <input type="hidden" name="listing_id" value="{{ listing.id }}">
      <button
      type="submit"
      class="btn btn-primary"
      style="margin-top: 10px; margin-bottom: 10px"
      >Add to Watchlist
    </button>
  </form>
{%else%}
  <form method="POST" action="{% url 'delete_watchlist' id=listing.id %}">
    {% csrf_token %}
    <input type="hidden" name="listing_id" value="{{ listing.id }}">
    <button
    type="submit"
    class="btn btn-primary"
    style="margin-top: 10px; margin-bottom: 10px"
    >Remove from Watchlist
  </button>
</form>
{%endif%}
    <img
      src="{{ listing.url }}"
      alt="{{ listing.title }}"
      style="width: 300px; height: auto; border-radius: 10px"
    />
  </div>
  <div class="listing-detail">
    <p>Description: {{ listing.description }}</p>
    <h5>Price: ${{listing.price }}</h5>
    {% if max_bid is not None %}
    <h5>Bid: ${{ max_bid }}</h5>
    {% else %}
    <p>No bids yet.</p>
    {% endif %}
    {%if max_bid_user%}
    <p>{{bids_count}} Bid(s) so far. {{max_bid_user}}'s bid is the current bid.</p>
    {%endif%}
    {% if not is_owner %}
    {%if bid_price_error or bid_bid_error %}
    <h5>{{bid_price_error}}</h5>
    <h5>{{bid_bid_error}}</h5>
    {%endif%}
    <form method="POST" action="{% url "new_bid" id=listing.id %}">
    {%csrf_token%}
    <input
      type="number"
      id="bid"
      name="bid"
      placeholder="Bid"
      step="0.01"
      min="0"
      required
      style="width: 100%; box-sizing: border-box; padding: 10px; border-radius: 5px; border: 1px solid #ccc;"
    />
    <button
      type="submit"
      class="btn btn-primary"
      style="margin-top: 10px; margin-bottom: 10px; "
    >
      Place Bid
    </button>
  </form>
    {% endif %}
    <h4>Details</h4>
    <ul>
        <li>
          Listed by:
          {% if is_owner%}
          You
          {% else %}
          <a href="{% url 'user_listing' user=listing.user %}">{{listing.user}}</a>
          {%endif%}
      </li>

        <li>Category: <a href="{% url 'category_listing' category=listing.category %}">{{listing.category}}</a></li>
        <li>Listed on: {{ listing.created_at|date:"F d, Y, h:i A" }}</li>
  </div>
  {%if is_owner%}
  <div>
    <form method="POST" action="{% url 'closed_listing' %}">
      {%csrf_token%}
      <input type="hidden" name="close_id" value="{{listing.id}}" />
      <button
        type="submit"
        class="btn btn-primary"
        style="margin-top: 10px; margin-bottom: 10px"
      >
        Close Auction
      </button>
    </form>
  </div>
  {%endif%}

  {%if not is_owner%}
  <div>
    <form method="POST" action="{% url 'listing_detail' id=listing.id %}">
      <div>
      {%csrf_token%}
      <textarea
                name="comment"
                placeholder="Add your comments here..."
                maxlength="500"
                rows="3"
                style="width: 100%; padding: 10px; margin-bottom: 10px; border-radius: 5px; border: 1px solid #ccc;"
            ></textarea>
    </div>
    <div>
      <button
      type="submit"
      class="btn btn-primary"
        style="margin-top: 10px; margin-bottom: 10px"
      >Post Comment
    </div>
    </form>
  </div>
  {%endif%}
  <div>
  <h3>Comments</h3>
  <div>
    {%if comments%}
  {%for comment in comments%}
  <h7>{{comment}}</h7>
  <p>By {{comment.user}} at {{comment.created_at}}</p>
    {%endfor%}
  {%else%}
  <h6>No comments yet</h6>
  {%endif%}
  </div>
  </div>
</div>
{%endblock%}
