{% extends "auctions/layout.html" %} {% block title %} My Listings {% endblock%}
{% block body %}
<h2>My Listings</h2>
{% for item in listings_with_max_bid %}
<div class="listing-container">
  <div class="img-container">
    <img
      src="{{ item.listing.url }}"
      alt="{{ item.listing.title }}"
      style="width: 300px; height: auto; border-radius: 10px"
    />
  </div>
  <div class="listing-detail">
    <h3>{{ item.listing.title }}</h3>
    <h6>Category: {{ item.listing.category }}</h6>
    <p>Description: {{ item.listing.description }}</p>
    <h5>Price: ${{item.listing.price }}</h5>
    {% if item.max_bid %}
    <h4>Bid: ${{ item.max_bid.bid }}</h4>
    {% else %}
    <p>No bids yet.</p>
    {% endif %}
    <h6>Created {{ item.listing.created_at|date:"F d, Y, h:i A" }}</h6>
    <a href="{% url 'edit_listing' id=item.listing.id %}">Edit listing</a>
  </div>
</div>
{% endfor %} {% endblock %}
