/* Register Page Styles */
.register-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .register-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333333;
  }
  
  .alert {
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: 10px;
    border-radius: 5px;
  }
  
  .register-form .form-group {
    margin-bottom: 15px;
  }
  
  .register-form .form-control {
    height: 45px;
    font-size: 1rem;
    padding: 10px;
  }
  
  .account-type-label {
    font-size: 0.9rem;
    color: #555555;
  }
  
  .register-form .btn {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #922edf;
    border: none;
  }

  .register-form .btn:hover {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #922edf;
    background-color: #9005fa;
    border: none;
  }
  
  .login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555555;
  }
  
  .login-link a {
    color: #922edf;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }